body {
  margin: 0;
  padding: 0;
  background-color: #dbdbdb;
}

.container {
  padding: 20px;
  width: 500px;
  margin: 20px auto;
  background-color: #fff;
  text-align: center;
}

.container h1 {
  color: red;
  border-bottom: 1px dashed red;
}

.container p {
  font-family: 'Kavivanar', cursive;
  padding: 10px 20px;
  text-align: left;
  color: blue;
}

.test {
  display: -ms-flexbox;
  display: flex;
  color: #ddd;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}